.registerform{
    background-color: white;
    width: 100%;
    height: auto;
    padding: 4rem 20%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.registerform form{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.registerform form .part{
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.registerform form .part a{
    color: red;
}
.registerform form .part label{
    width: 95%;
    height: 2rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}
.registerform form .part input{
    padding: 0 1rem;
    width: 95%;
    height: 2rem;
    border-width: 0 0 2px 0;
}
.submit{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.submit button{
    width: 50%;
    height: 2rem;
    background-color: rgba(16, 31, 64, 0.6);
}
.submit button:hover{
    background-color: rgba(16, 31, 64, 0.9);
}

.forgotpass{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgotpass button{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.539);
    background:transparent;
    box-shadow: none;
    font-size: large;
}
.forgotpass button:hover{
    text-decoration: none;
    color: blue;
    font-size: larger;
}