
{%extends "comman.html"%}

{%block body%}
<link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}">

<div class="myorderbody">


    <h2>My Orders</h2>

    <div class="orderleftarea">
                  
        <!-- current order data  -->

        <h3>Current Orders</h3>

        <div class="undeliverorder" style="height: 30rem;">

            {%for p in al:%}
            {%if ((p['status'] != "delivered")and(p['status'] != "cancelled")):%}
                    <div class="ordercard">
                        <div class="headers"> 
                            <h5>{{p['username']}}</h5>
                            <h6>{{p['phonenumber']}}</h6>
                        </div>
                        <div class="allorderproducts"> 
            {%for pro in p['products']:%}
                        <div class="pro">
                            <img src="{{pro[0][7]}}">
                            <h6>{{pro[0][2]}}</h6>
                        </div>
            {%endfor%}
                        </div>
                        <div class="address"> 
                            <h5><b>Address :</b></h5>
                            <h6>{{p['address']}}</h6>
                        </div>
                        <div class="headers" style="display: flex; border-top:1px solid rgb(64, 63, 63);">
            {%if ((p['status']!="ReadyForDeliver")and(p['status']!="OutForDelivery")):%}
                            <a href="http://127.0.0.1:5000/cancel/{{p['purchaseid']}}">Cancel order</a>
            {%endif%}
                        
                            <h6 style="margin-top: 6px;"><b>{{p['status']}}</b></h6>
                        
            {%if ((p['status']=="ReadyForDeliver")or(p['status']=="OutForDelivery")):%}
                            <h6 style="margin-top: 6px; margin-left:2rem;"><b>To Pay: &#8377;{{p['topay']}}</b></h6>
            {%endif%}
                        </div>
                    </div>
            {%endif%}
            {%endfor%}

            


        </div>

    </div>
    <div class="orderrightarea">

        <img src="/static/image/usermodel.png">
    </div>
  

</div>


<div class="myorderbody">
     <!-- allready Delivered data  -->
     <h3>Previous Orders</h3>
     <div class="undeliverorder">
         {%for p in al:%}
         {%if (p['status'] == "delivered"):%}
             <div class="ordercard">
                 <div class="headers"> 
                     <h5>{{p['username']}}</h5>
                     <h6>{{p['phonenumber']}}</h6>
                 </div>
                 <div class="allorderproducts"> 
         {%for pro in p['products']:%}
                 <div class="pro">
                     <img src="{{pro[0][7]}}">
                     <h6>{{pro[0][2]}}</h6>
                 </div>
         {%endfor%}
                 </div>
                 <div class="address"> 
                     <h5><b>Address :</b></h5>
                     <h6>{{p['address']}}</h6>
                 </div>
                 <div class="headers" style="display: flex; border-top:1px solid rgb(64, 63, 63);">
                     <!-- <a href="http://127.0.0.1:5000/view/{{p['purchaseid']}}">Cancel order</a> -->
                     <h6 style="margin-top: 6px;"><b>{{p['status']}}</b></h6>
                 </div>
             </div>
         {%endif%}
         {%endfor%}
     </div>


    <!--   Canceled order data  -->

    <h3>Cancelled  Orders</h3>

    <div class="undeliverorder">

        {%for p in al:%}
        {%if (p['status'] == "cancelled"):%}
            <div class="ordercard">
                <div class="headers"> 
                    <h5>{{p['username']}}</h5>
                    <h6>{{p['phonenumber']}}</h6>
                </div>
                <div class="allorderproducts"> 
        {%for pro in p['products']:%}
                <div class="pro">
                    <img src="{{pro[0][7]}}">
                    <h6>{{pro[0][2]}}</h6>
                </div>
        {%endfor%}
                </div>
                <div class="address"> 
                    <h5><b>Address :</b></h5>
                    <h6>{{p['address']}}</h6>
                </div>
                <div class="headers" style="display: flex; border-top:1px solid rgb(64, 63, 63);">
                    <!-- <a href="http://127.0.0.1:5000/view/{{p['purchaseid']}}">Cancel order</a> -->
                    <h6 style="margin-top: 6px;"><b>{{p['status']}}</b></h6>
                </div>
            </div>
        {%endif%}
        {%endfor%}


    </div>
</div>


{%endblock%}