{%extends "comman.html"%}
{%block body%}
<style>
    label{
        display: flex;
        width: 100%;
    }
    label a{
        color:red;
        width: 1rem;
    }
    .part{
      width: 100%;
    }
  </style>
    <div class="registerform">
        <form action="http://127.0.0.1:5000/change/old/password" method="post">
            <div class="part" id="form">
                <input type="email" id="email" name="email" value="{{email}}" style="display: none;">
                
                <label for="otp" id="otp">Email_Otp<a style="color: red;">*</a> : </label>
                <input type="number" id="otp" name="otp" placeholder="XXX-XXX" required>
                
                <label for="password" id="password">New Password.<a style="color: red;">*</a> </label>
                <input type="password" id="password" name="password" placeholder="***********" required>
                
                <label for="repassword" id="repassword">Password<a style="color: red;">*</a> </label>
                <input type="password" id="repassword" name="repassword" placeholder="*********" required>

            </div>
            <div class="submit">
                <button>Submit</button>
            </div>
        </form>
        
    </div>
 
{%endblock%}